/*Jokaiselle elementille
 *{border: 2px lime solid;
    padding:20px;}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

*{box-sizing: border-box;}/*laatikon leveys pysyy samana, vaikka padding arvoa tulee*/

body {color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    margin: 10px 5px;
    background-image: url(https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg);
    background-repeat: no-repeat;/*taustakuva yhteen kertaan*/
    background-size: cover; /*taustan leveys */
    background-attachment: fixed;


}

main {background-color: brown; /* taustaväri */
    padding: 20px 0px; /* tyhjää tilaa sisällön ja reunuksen väliin */
    border: solid 3px white; /* reunus*/
    width: 90%; /* suhteellinen leveys*/
    max-width: 1200px; /* maksimi leveys*/
    margin: auto; /* lohkon keskitys*/
    box-shadow: 8px 8px 8px red; /* heittovarjo*/
}

nav {
    text-align: center;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 15px;
    display: inline-block; /* esitystyyppi mahdollistaa leveyden annon */
    text-decoration-line: none; /*alleviivaus pois*/
    border: rgb(139, 0, 0) solid 2px; /*reunus */
    background-color: rgb(240, 85, 74);
    color: white;
}

nav a:hover {background-color: rgb(152, 58, 240);}

.sivulla {background-color: lightblue;
color: black;}

h1 {
    text-align: center;
    font-size: 2vw; /* fontin koko skaalaantuu näytön leveyden mukaa*/
    font-family: "Story Script", sans-serif;
    color: orange;
    text-shadow: 5px 5px 5px aquamarine; /* tekstin varjo*/
}

#koirakuva {width: 20%;/*suhteellinen leveys*/
            max-width: 600px; /*maksimileveys*/
            border: solid 5px white; /* kehyksen muoto*/
            border-radius: 50%;
            box-shadow: 10px 10px 10px rgb(59, 0, 0);

}

h2 {
    margin-left: 50px;
    color: rgb(241, 162, 88);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


p {
    margin-left: 50px;
}

/*class luokan määritys*/
.valkoinen {color: white; text-shadow: 5px 5px 5px white;}
.keskitys {margin:auto; /*lohkon keskitys*/
            text-align: center; /*tekstin keskitys*/
}
/* id-määritys*/
#eka {color: rgb(180, 112, 245);}
